.form-container {
    max-width: 400px;
    margin: 0 auto;
    font-weight: bold;
    padding: 40px;
    border: solid #c6c9cc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #c6c9cc;
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.form-label {
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 2px;
}

.form-input, .form-select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.form-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-cancel {
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sign-in-field-container{
    width: 100%;
}

.text-link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    margin: 0; 
}


