.business-title {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.hero-container {
    background-image: url('../../public/images/PrayingHandsOfMaryGlenLyon.jpg');
    background-size: cover;
    background-position: center;
    height: 1000px;
    
}

.logo-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReactModal__Overlay {
    z-index: 1000;
}

.ReactModel__Content {
    z-index: 1001;
}

