.section-background {
    max-width: 100%;
    padding: 10%;
}

.section-background-even {
    background-color: #0b1b28;
    color: #f9f0e7;
}

.section-background-odd {
    background-color: #f9f0e7;
    color: #0b1b28;
}

.section-text {
    text-align: center;
}

.section-text-title {
    padding: 3rem;
    margin-top: -100px;
}

.section-text-paragraph {
    padding: 1rem;
    font-size: 20px;
}

.marquee-container {
    display: flex;
    overflow-x: auto;
}

.fleet img {
    margin: 0 10px;
    box-shadow: 5px 5px 5px #c6c9cc;
}

.locations img {
    margin: 0 10px;
    box-shadow: 5px 5px 5px #03223f;
}

.image-container {
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

