.itinerary-header {
    text-align: center;
    padding: 20px;
}

.itinerary-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    border-style: solid;
    border-color: #0b1b28;
    align-items: center;
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

.itinerary-form th {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.itinerary-form label {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.itinerary-form tr td {
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"]
#itinerary-notes {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#itinerary-notes {
    height: 200px;
}

@media screen and (max-width: 768px) {
    .itinerary-form {
        padding: 15px;
        max-width: 90%;
    }

    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="time"],
    #itinerary-notes {
        height: 30px;
        font-size: 14px;
    }
}