.itinerary-header{
    text-align: center;
    padding: 20px;
}

.itinerary-form{
    background-color: #ffff;
    border-radius: 10px;
    padding: 25px;
    border-style: solid;
    border-color: #0b1b28;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
}

.itinerary-form th{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.itinerary-form label{
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.itinerary-form tr td{
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"] {
    width: 175px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

#itinerary-notes{
    width: 800px;
    height: 200px;
}