.table-container {
    font-family: Arial, sans-serif;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.table td {
    text-align: left;
}

.table th:last-child, .table td:last-child {
    text-align: center;
}

.table th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.table td:last-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.button-container {
    margin-top: 20px;
}

.table-submit, .table-cancel {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.table-cancel {
    background-color: #dc3545;
}